{%extends 'base.html'%}

{%block title%}
Login
{%endblock%}

{%block content%}
<div class="container fluid mt-5">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8 col-md-5 col-lg-4 col-xl-3">
            <div class="mt-5">
                <div class="mt-5 p-3" id="signin-form-div">
                    <div class="w-100 p-2"><img src="/static/images/hublink-login.png" id="logo-login"></div>
                    <form method="POST" name="login_user_form" action="/signin">
                        {{ form.hidden_tag() }}
                        {% for field in form if field.widget.input_type != 'hidden' %}
                        {% for error in field.errors%}
                        <span class="text-danger">{{error}}</span>
                        {%endfor%}
                        {%if field.label.text == 'Log in'%}
                        <div class="container w-100 mt-3 mb-4 p-3">
                            {{field}}
                        </div>
                        {%else%}
                        <div class="container w-100 mt-4">
                            {{field.label}}
                            {{field}}
                        </div>
                        {%endif%}
                        {%endfor%}
                    </form>
                    <div class="d-flex justify-content-center">
                        <span class="mt-3 mb-4"><small><a href="/reset-pw">Password Reset</a></small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{%endblock%}